.TaskListTodo {
  margin-top: 20px;
}
.lists-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #f3eff8;
  margin-top: 8px;
  border-radius: 2px;
  transition: 0.5s;
  &:hover {
    background-color: #e4deec;
  }
  input {
    margin-right: 8px;
    &:checked {
      background-color: green;
    }
  }
  span {
    cursor: pointer;
  }
}

.remove {
  font-size: 20px;
  &:hover {
    color: #ca8cfa;
  }
}

.edit {
  font-size: 20px;
  margin-right: 10px;
  &:hover {
    color: #ca8cfa;
  }
}

.text-done {
  text-decoration: line-through;
  color: green;
  font-style: italic;
}
